<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean name="u" class="com.hui.dao.impl.UserDAOImpl"> </bean>  <!-- ID换成name亦可 -->

  <bean id="userService" class="com.hui.service.UserService">
  	<!-- <property name="userDAO" ref="u"></property> -->
  	<constructor-arg> <ref bean="u" /> 	</constructor-arg>
  </bean>
 
</beans>