
.backToTop {
    display: none;
    width:26px;	
	height:80px;
	background:url(../img2/goTop.jpg) no-repeat;
    line-height: 1.2;
    padding: 5px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;	
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .8;
    filter: Alpha(opacity=80);
}

