/* CSS Document */

a.button { 
background: transparent url('../img/middle_button.png') no-repeat; 
display: block; 
float:left;
height: 37px; 
width:101px;
font: normal 14px sans-serif; 
font-weight:bold;
text-align:center;
text-decoration: none; 
margin-top:15px;
*margin-top:15px;
margin-left: 30px; 
_margin-left: 0px;
_margin-top:30px;  
} 
a.button:hover, a.button:active { 
background: transparent url('../img/middle_button_selected.png') no-repeat; 
display: block; 
float:left;
height: 37px; 
width:101px;
font: normal 14px sans-serif; 
font-weight:bold;
text-align:center;
text-decoration: none; 
margin-top:15px;
*margin-top:15px;
margin-left: 30px; 
_margin-left: 0px; 
_margin-top: 30px;  
} 


a.button span { 
color: #e5ffb2; 
display: block; 
padding: 5px 3px 5px 9px; 
margin-left:-2px;

} 
a.button:hover span, a.button:active span { 
color: #297700; 
display: block;
padding: 5px 3px 5px 9px; 
margin-left:-2px;
} 
 

.list1{
margin: 10px auto;

}

ul.listid1{
float:left;
margin-top:10px;
_margin-top:0px;
padding-left:30px;
_padding-left:25px;
*padding-top:10px;

}
ul.listid1 li{
font-family: "Arial Black", Gadget, sans-serif;
font: normal 13px sans-serif; 
height: 18px; 
width: 100px;
text-decoration:none;
padding-top:10px;
padding-left:10px;

list-style-type:none;
margin-left:0px;
_margin-left:-25px;
border-bottom-color:#CCCCCC;
border-bottom-style: dashed;
border-bottom-width: 1px;

}
ul.listid1 li a{
text-decoration:none;
color:#5d5d5d;
padding-left:10px;
}

ul.listid1 li a:hover,ul.listid1 li a:active{
color: #660000;}



